header {
    table, td, th {
        padding: 0px;
    }
    th {
        vertical-align: middle;
    }
    h1 {
        margin: 0px;
    }
}

.footer-box {
    display: table;
    width: 100%;
}

.footer-box-left, .footer-box-right {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.footer-box-left {
    text-align: left;
}

.footer-box-right {
    text-align: right;
}
